.HeroText.BG {
	color: #c75e3e;
}

.HeroText.OL {
	transform: translate(0, -100%);
	margin-top: 0.2%;
	margin-left: 0.2%;
	padding: 0;
}

.Overlay {
	height: 0;
}

.PFP {
	border-radius: 100%;
}

.HeroImageSection.PFP {
	padding: 50px;
}

@media screen and (max-width: 1530px) {
	.HeroText.BG .HeroText.OL {
		font-size: 70px;
	}

	.HeroText.About {
		font-size: 30px;
	}
}
