.NavbarItems * {
	user-select: none;
}

.NavbarItems {
	background-color: #222;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
	width: 95%;
	height: 80px;
	border-radius: 13px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.2rem;
	padding: 0 30px;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	z-index: 99;
	overflow: hidden;
}

.navbar-logo {
	color: rgb(255, 255, 255);
	background-image: linear-gradient(to right, #7e7e7e44, #4d4d4d44);
	border-radius: 5px;
	padding: 0.2rem 0.5rem;
	justify-self: start;
	cursor: pointer;
	top: 24px;
	left: 30px;
	position: absolute;
}

.navbar-logo:hover {
	background-image: linear-gradient(to right, #7e7e7e44, #7e7e7e44);
}

.nav-menu {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 10px;
	list-style: none;
	align-items: center;
	text-align: center;
	justify-content: end;
	margin: 0;
	position: absolute;
	top: 26px;
	right: 30px;
}

.nav-links {
	color: #ffff;
	text-decoration: none;
	padding: 0.7rem 1rem;
	white-space: nowrap;
}

.nav-links:hover {
	background-color: rgb(255, 255, 255);
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
	color: #000;
}

.NavbarIcon {
	display: none;
}

@media screen and (max-width: 850px) {
	.NavbarItems {
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
		transition: all 0.3s ease;
	}

	.nav-menu {
		border-radius: 13px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 100%;
		align-items: center;
		padding: 80px 0 30px 0;
		margin: 0;
		z-index: -1;
		max-height: 100vh;
	}

	.NavbarItems.active {
		transition: all 0.3s ease;
		height: 260px;
	}

	.nav-links {
		display: block;
		width: 80vw;
		padding: 0.5rem 1rem;
		color: #fff;
		background-color: #333;
		border-radius: 5px;
	}

	.nav-links:hover {
		background: rgb(255, 255, 255) !important;
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		border-radius: 3px;
		width: 81vw;
		transition: all 0.3s ease;
	}

	.NavbarIcon {
		display: block;
		position: absolute;
		top: 25px;
		right: 30px;
		font-size: 1.5rem;
		cursor: pointer;
		color: #fff;
	}
}
